
PORT=8000

AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
AWS_REGION=us-east-1
AWS_BEDROCK_MODEL=us.amazon.nova-lite-v1:0

NGROK_TOKEN=your_ngrok_token

VAPI_PUBLIC_KEY=your_vapi_public_key
VAPI_ASSISTANT_ID=your_vapi_assistant_id

CAL_API_KEY=your_cal_api_key
CAL_EVENT_TYPE_ID=your_cal_event_id
GOOGLE_CALENDAR_ID=your_google_calendar_id
